<!-- BEGINNING call for papers -->
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-10 heading-section ftco-animate text-center">
                <h2 class="mb-1">Call <span>for</span> Papers</h2>
                <p>Numerous instances of the <strong>Regional Scrum Gathering®</strong>, supported by Scrum Alliance,
                    take place around the Globe every year. South Africa’s event has been running for ten years. It
                    enjoys a reputation for
                    being an excellent opportunity to learn and to connect with the local Agile and Scrum community;
                    making it
                    a popular, highly anticipated event in the calendar. </p>

                <p>The call for papers is now <strong>open</strong> and we are currently looking for speakers to present
                    talks and workshops that welcome change in our
                    community of Agilists.</p>

                <p>If you are interested in being a speaker, please check out our Call for Papers
                    information page to submit your inspirational talks aligned to our theme of <strong>Welcome
                        Change</strong>.</p>
                <br />
            </div>
            <div class="col-md-4 heading-section ftco-animate text-center justify-content-center">
                <a class="btn btn-primary d-block px-2 py-3" href="call-for-papers.html">Call for Papers Information
                    <span class="icon-arrow-down"></span></a>
            </div>
        </div>
    </div>
</section>
<!-- END call for papers -->