<!-- BEGINNING Keynote Speakers -->
<div class="container">
    <div class="row justify-content-center mb-3 pb-3">
        <div class="col-md-7 text-center heading-section ftco-animate">
            <span class="subheading">Our</span>
            <h2 class="mb-4">Keynote <span>Speakers</span></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 speaker">
            <a href="jutta-eckstein.html"><img src="images/JuttaEckstein.jpg" class="img-fluid"
                    alt="Jutta Eckstein"></a>
            <div class="text text-center pt-3">
                <h3><a href="jutta-eckstein.html" id="Keynote1_Name">Jutta Eckstein</a></h3>
                <span class="position" id="Keynote1_Role"></span>
                <ul class="ftco-social mt-3">
                    <li class="ftco-animate"><a href="https://twitter.com/juttaeckstein" target="_blank"><span
                                class="icon-twitter"></span></a></li>
                    <li class="ftco-animate"><a href="https://www.linkedin.com/in/juttaeckstein/" target="_blank"><span
                                class="icon-linkedin"></span></a></li>
                    <li class="ftco-animate"><a href="https://www.jeckstein.com/" target="_blank"><span
                                class="icon-globe"></span></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 speaker">
            <a href="ntsiki-mkhize.html"><img src="images/NtsikiMkhize.jpg" class="img-fluid" alt="Ntsiki Mkhize"></a>
            <div class="text text-center pt-3">
                <h3><a href="ntsiki-mkhize.html" id="Keynote2_Name">Ntsiki Mkhize</a></h3>
                <span class="position" id="Keynote2_Role"></span>
                <ul class="ftco-social mt-3">
                    <li class="ftco-animate"><a href="https://twitter.com/Ntsiki_Mkhize" target="_blank"><span
                                class="icon-twitter"></span></a></li>
                    <li class="ftco-animate"><a href="https://www.linkedin.com/in/ntsiki-mkhize-8b0a8b21/"
                            target="_blank"><span class="icon-linkedin"></span></a></li>
                    <li class="ftco-animate"><a href="https://ntsikim.co.za/" target="_blank"><span
                                class="icon-globe"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- END Keynote Speakers -->