<!-- BEGINNING tickets -->
<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5">
          
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-10 heading-section ftco-animate text-center">
                    <h2 class="mb-1"><span>Our</span> Ticket Pricing</h2>
                    <p>The prices listed below are the price for a single ticket to the Regional Scrum Gathering. If you would prefer booking as a group and taking advantage of discounted prices, please get in touch with us <a href="mailto:info@sugsa.org.za?subject=Group booking request from SGZA website.">info@sugsa.org.za</a> so that we can work out the details with you.</p>
                </div>
                <!--<div class="col-md-4 heading-section ftco-animate text-center">
                    <a href="#group-booking-info" class="btn btn-primary d-block px-2 py-3">Group Booking Info <span class="icon-arrow-down"></span></a>
                </div>-->
            </div>
            <div class="row">
                <div class="col-md-4 ftco-animate">
                    <div class="block-7">
                        <div class="text-center">
                            <h2 class="heading">Super Early-bird</h2>
                            <span class="price"><sup>R</sup> <span class="number">2,500</span></span>
                            <span class="excerpt d-block">Limited # available</span>
                            <h3 class="heading-2 my-4">Enjoy a full conference experience</h3>
                            <ul class="pricing-text mb-5">
                                <li>Conference Seats</li>
                                <li>Free Wifi</li>
                                <li>Coffee Breaks</li>
                                <li>Lunch</li>
                                <li>Workshops</li>
                            </ul>

                            <a href="http://sugsa.org.za/event/regional-scrum-gathering-cape-town-2021/" target="_blank" class="btn btn-primary d-block px-2 py-3">Buy Tickets <ion-icon name="cart"></ion-icon></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate">
                    <div class="block-7">
                        <div class="text-center">
                            <h2 class="heading">Early-bird</h2>
                            <span class="price"><sup>R</sup> <span class="number">3,000</span></span>
                            <span class="excerpt d-block">Limited # available</span>
                            <h3 class="heading-2 my-4">Enjoy a full conference experience</h3>
                            <ul class="pricing-text mb-5">
                                <li>Conference Seats</li>
                                <li>Free Wifi</li>
                                <li>Coffee Breaks</li>
                                <li>Lunch</li>
                                <li>Workshops</li>
                            </ul>
                            <a href="http://sugsa.org.za/event/regional-scrum-gathering-cape-town-2021/" target="_blank" class="btn btn-primary d-block px-2 py-3">Buy Tickets <ion-icon name="cart"></ion-icon></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate">
                    <div class="block-7">
                        <div class="text-center">
                            <h2 class="heading">Standard Ticket</h2>
                            <span class="price"><sup>R</sup> <span class="number">3,500</span></span>
                            <span class="excerpt d-block">&nbsp;</span>
                            <h3 class="heading-2 my-4">Enjoy a full conference experience</h3>
                            <ul class="pricing-text mb-5">
                                <li>Conference Seats</li>
                                <li>Free Wifi</li>
                                <li>Coffee Breaks</li>
                                <li>Lunch</li>
                                <li>Workshops</li>
                            </ul>
                            <a href="http://sugsa.org.za/event/regional-scrum-gathering-cape-town-2021/" target="_blank" class="btn btn-primary d-block px-2 py-3">Buy Tickets <ion-icon name="cart"></ion-icon></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<!-- END tickets -->